accelerate==1.2.1
bitsandbytes==0.45.0
decord==0.6.0
deepspeed==0.15.4
diffusers==0.32.1
einops==0.8.1
einx==0.3.0
fastdtw==0.3.4
huggingface_hub==0.27.0
imageio_ffmpeg==0.5.1
matplotlib==3.10.6
modules==1.0.0
numpy==2.3.3
omegaconf==2.3.0
onnxruntime_gpu==1.16.3
opencv_python==4.10.0.84
pandas==2.3.2
Pillow==11.3.0
pyrender==0.1.45
safetensors==0.6.2
scipy==1.16.1
sentence_transformers==3.3.1
six==1.16.0
tensorflow_gan==2.1.0
tensorflow_hub==0.16.1
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
transformers==4.47.1
trimesh==4.5.3
xformers==0.0.32.post2
